<h1>landingpage works!</h1>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, facilis laboriosam debitis similique eligendi non necessitatibus maxime dolorem minima nisi culpa at repellendus amet, veniam, modi possimus aspernatur! Aliquid, repellat eius error ab temporibus eos, et, molestiae atque ducimus dolore fugiat neque veniam a repellendus ipsa saepe rerum unde odio.
</p>
<h1>{{this.firstname}}</h1>
<h1>my name is {{this.obj.name}} , my age is {{obj.age}}, the name of my school is {{obj.school}}, my address is {{obj.address}}.</h1>

<h3>{{this.arrayfour[1].school}}</h3>

<input type="file" id="selfie" capture="user">