
<div>
    <h1>Firstname: <span>{{contactobj.firstname}}</span></h1>
    <h1>Lastname: <span>{{contactobj.lastname}}</span></h1>
    <h1>Email: <span>{{contactobj.email}}</span></h1>
    <h1>Phone: <span>{{contactobj.phone}}</span></h1>
    <h1>Address: <span>{{contactobj.address}}</span></h1>
</div>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>S/N</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>View</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let contact of info2; let i = index">
      <td>{{ i+1 }}</td>
      <td>{{ contact.name }}</td>
      <td>{{ contact.address }}</td>
      <td>{{ contact.age }}</td>
      <td>
        
        <button class="btn btn-primary">Edit</button>
        <button class="btn btn-danger">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
