<p>child works!</p>
<div>
    <!-- <span>message from parent  - {{msgToChild}}</span> -->

    <input class="form-control" type="text" [(ngModel)]="response" (keyup)="sendMsgToParent(response)">
     <span>Number of items in cart - {{addItems.length}}</span>

     <!-- <div *ngFor="let item of list"> -->
     <!-- </div> -->
</div>

<span>
    welcome to angular!
</span>
<h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae voluptate beatae neque praesentium, tenetur itaque dolorem alias accusamus obcaecati, natus perferendis porro omnis ipsum? Qui debitis ea libero. Amet magnam voluptate, nisi, explicabo repudiandae atque reiciendis exercitationem nobis nulla dolorum voluptas assumenda quasi tenetur qui autem, id quia ipsam facere?</h1>