<p>reactiveform works!</p>


<div class="container">
    <h1 class="text-center text-primary">Reactive Form</h1>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form [formGroup]="one" (ngSubmit)="submit()">
          <div class="mb-3">
            <label for="firstname" class="form-label text-primary fw-bold">First Name</label>
            <input type="text" id="firstname" name="firstname" formControlName="fname" placeholder="Enter your first name" class="form-control" [class.is-valid]="one.get('fname')?.valid && one.get('fname')?.touched" [class.is-invalid]="one.get('fname')?.invalid && one.get('fname')?.dirty">
            <div *ngIf="one.get('fname')?.invalid">
              <span class="text-danger" *ngIf="one.get('fname')?.errors?.['minlength']">First Name minimum length is 6
            </span>
            <span class="text-danger" *ngIf="one.get('fname')?.errors?.['required'] && one.get('fname')?.dirty">
              First Name is required
            </span>
          </div>
          </div>
          
          <div class="mb-3">
            <label for="lastname" class="form-label text-primary fw-bold">Last Name</label>
            <input type="text" id="lastname" name="lastname" formControlName="lname" placeholder="Enter your last name" class="form-control">
            <div *ngIf="one.get('lname')?.invalid">
              <span class="text-danger" *ngIf="one.get('lname')?.errors?.['minlength']">Last Name minimum length is 6
            </span>
            <span class="text-danger" *ngIf="one.get('lname')?.errors?.['required'] && one.get('lname')?.dirty">
              Last Name is required
            </span>
          </div>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label text-primary fw-bold">Email</label>
            <input type="email" id="email" name="email" formControlName="em" placeholder="Enter your email" class="form-control">
          </div>
          <div *ngIf="one.get('em')?.invalid">
            <span class="text-danger" *ngIf="one.get('em')?.errors?.['email']">Invalid email format</span>
            <span class="text-danger" *ngIf="one.get('em')?.errors?.['required']">Email is required</span>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label text-primary fw-bold">Password</label>
            <input type="password" id="password" name="password" formControlName="pass" placeholder="Enter your password" class="form-control">
          </div>
          <div *ngIf="one.get('pass')?.invalid">
            <span class="text-danger" *ngIf="one.get('pass')?.errors?.['pattern']">Password should be at least 8 characters long and include at least one uppercase letter, one lowercase letter, and one digit</span>
            <span class="text-danger" *ngIf="one.get('pass')?.errors?.['required']">Password is required</span>
          </div>
          <p class="text-center text-danger">{{ message }}</p>
          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary" [disabled]="one.invalid">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  
