<p>errorpage works!</p>

<div class="container text-center mt-5">
    <h1 class="text-primary display-1">ERROR 404</h1>
    <h1 class="text-primary">WATIN YOU DEY FIND UP AND DOWN NAH</h1>
    <h2 class="text-danger">CLICK HERE TO NAVIGATE TO SIGNUP PAGE ALAYE</h2>
    <button class="btn btn-primary"><a href="/reactiveform" class="text-white text-decoration-none p-5">Signup</a></button>
    <div class="mt-3">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHg3n0f-DC-fald_TZLwviff_okfWFYP324g&usqp=CAU" alt="Error Image" class="img-fluid">
    </div>
  </div>
  
